body{
    background-color: rgb(117, 133, 223);
    text-align: center;
    font-family: "Reddit Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url('background.png');
}

main{
    background-color: rgb(117, 133, 223);   
}


h1{
    text-align: center;
    font-family: "Reddit Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #ffffff;
    font-size: 48px
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(117, 133, 223);
    opacity: 95%;
    overflow: hidden;
  }
  
  /*Equal spacing between elements in the navigation bar */
  .topnav {
    display: flex;
    justify-content: space-between; /* this will add equal space between each image */
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(71, 91, 204);
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(71, 91, 204);
    color: white;
  }

  .image-grid {
	--gap: 40px;
	--num-cols: 5;
	--row-height: 250px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
  }

  .image-grid>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h3{
    color: #ffffff;
}

p{
    color: #ffffff;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  